* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}


html {
    scroll-behavior:smooth;
}


body {

    font-family:Arial, sans-serif;

    color:white;

}



/* ===== МЕНЮ ===== */

header {

    position:absolute;

    top:0;
    left:0;

    width:100%;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:20px 60px;

    z-index:10;

}



/* ===== ЛОГОТИП ===== */

.logo {

    display:flex;

    flex-direction:column;

    align-items:flex-start;

}


.logo-title {

    color:white;

    font-size:34px;

    font-weight:bold;

    margin-bottom:10px;

    text-shadow:2px 2px 6px rgba(0,0,0,0.7);

}


.logo img {

    width:130px;

    height:130px;

    object-fit:contain;

    display:block;

}


/* ===== ССЫЛКИ МЕНЮ ===== */

nav a {

    color:white;

    text-decoration:none;

    margin-left:25px;

    font-size:18px;

    transition:0.3s;

}


nav a:hover {

    color:#f5a623;

}


/* ЭФФЕКТ НАВЕДЕНИЯ */

nav a:hover {

    color:#f5a623;

}



/* ===== ГЛАВНЫЙ ЭКРАН ===== */


.hero {

    height:100vh;

    background:

    linear-gradient(
        rgba(0,0,0,0.45),
        rgba(0,0,0,0.45)
    ),

    url("../images/glavnay1.jpg") center/cover no-repeat;


    display:flex;

    justify-content:center;

    align-items:center;

    text-align:center;

}



/* ТЕКСТ НА ГЛАВНОМ ЭКРАНЕ */

.hero-content {

    max-width:750px;

    color:white;

}



.hero-content {

    max-width:750px;

}



.hero h1 {

    font-size:64px;

    margin-bottom:20px;

}



.hero h2 {

    font-size:32px;

    margin-bottom:20px;

}



.hero p {

    font-size:22px;

    line-height:1.5;

    margin-bottom:35px;

}





/* ===== КНОПКА БРОНИРОВАНИЯ ===== */


.booking-btn {


    display:inline-block;

    background:#f5a623;

    color:white;

    padding:18px 45px;

    font-size:20px;

    border-radius:30px;

    text-decoration:none;

    transition:0.3s;


}



.booking-btn:hover {

    background:#d88900;

}





/* ===== ДОМИКИ ===== */


.houses {


    background:#f5f2e8;

    color:#333;

    padding:80px 50px;

    text-align:center;


}



.houses h2 {


    color:#356b3a;

    font-size:42px;

    margin-bottom:15px;


}



.subtitle {


    font-size:20px;

    margin-bottom:40px;

    color:#555;


}





.house-container {


    display:flex;

    justify-content:center;

    gap:30px;

    flex-wrap:wrap;


}





.house-card {


    background:white;

    width:260px;

    border-radius:15px;

    overflow:hidden;

    box-shadow:

    0 5px 20px rgba(0,0,0,0.15);


    transition:0.3s;


}



.house-card:hover {


    transform:translateY(-10px);


}



.house-card img {


    width:100%;

    height:160px;

    object-fit:cover;

    transition:0.4s;


}



.house-card:hover img {


    transform:scale(1.05);


}



.house-card h3 {


    color:#356b3a;

    font-size:22px;

    margin:20px 10px;


}



.house-card p {


    color:#555;

    font-size:17px;

    line-height:1.5;

    padding:0 20px;


}



.house-card strong {


    display:block;

    color:#f5a623;

    font-size:22px;

    margin:20px;


}




/* ===== TELEGRAM + MAX ===== */


.footer {

    background:#f5f2e8;

    display:flex;

    justify-content:center;

    align-items:center;

    gap:15px;

    padding:20px;

}



.messenger {

    width:45px;

    height:45px;

    display:flex;

    justify-content:center;

    align-items:center;

    text-decoration:none;

    transition:0.3s;

}



.messenger:hover {

    transform:translateY(-4px);

}



/* ===== TELEGRAM ===== */


.telegram {

    background:transparent;

}



.telegram img {

    width:35px;

    height:35px;

    object-fit:contain;

    display:block;

}



/* ===== MAX ===== */


.max {

    background:transparent;

}



.max img {

    width:45px;

    height:45px;

    object-fit:contain;

    display:block;

}



/* ===== VK ===== */

.vk {

    background:transparent;

}


.vk img {

    width:45px;

    height:45px;

    object-fit:contain;

    display:block;

}
}
/* ===== МОБИЛЬНАЯ ВЕРСИЯ ===== */



@media(max-width:768px){



header {


    flex-direction:column;

    padding:20px;


}



.logo {


    font-size:26px;


}



nav {


    margin-top:20px;


}



nav a {


    margin-left:10px;

    font-size:15px;


}



.hero h1 {


    font-size:42px;


}



.hero h2 {


    font-size:25px;


}



.hero p {


    font-size:18px;


}



.houses {


    padding:50px 20px;


}



.house-container {


    flex-direction:column;

    align-items:center;


}



.house-card {


    width:90%;


}



.footer {


    padding:20px;


}



}
